* {
    color: #fff;
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;   
}

.container {
    background-color: #5FC7B9;
    padding: 5px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    
}

.header {
    background-color: #ED4634;
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    width: 60%;
    margin: 10px auto;
    padding: 4px;
}

figure img {
    max-width: 480px;
}

button {
    background-color: #fdd328;
    display: block;
    margin: 10px auto;
    padding: 18px 60px;
    width: 60%;
    border: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1, 1.05);
    transition: .5s;
}

button img {
    max-width: 30px;
    float: left;
}

footer p {
    font-size: 17px;
}

footer p:last-child {
    margin-top: 30px;
}

footer p i{
    color: #fdd328;
    font-weight: 900;
    cursor: pointer;
}